
<div style="text-align: center;">
  <h2 style="color: crimson;">{{ title }}</h2>
  <div>
    <button (click)="show = !show" (click)="counter1()">Display details</button>
  </div>
  <div>
    <p *ngIf="show">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae quibusdam minima nesciunt ducimus deleniti possit. Animi, odit obcaecati accusantium fugit reprehenderit ipsam reiciendis dicta? Dolore eveniet a nesciunt, perferendis eius labore, voluptatum autem enim incidunt ullam mollitia!</p>
    <p style="font-weight: bold;">The "Display details" button is clicked {{counter}} times.</p>
  </div>
  <div>
      <input type="text"  [(ngModel)]="newItem" placeholder="Enter some input">
      <span><button  (click)="addItem()">Add</button></span><br>
      <div> 
        <ul>
          <li  *ngFor="let item of items; let i = index;" [ngClass]="{'blue-bg': isFifthItem(i)}">{{item}}</li>
        </ul>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
<!--

-->